*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.no-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  max-height: 100vh;
}

.img-no-cart{
  width: 50%;
  margin-bottom: 50px;
}

.view-products{
  border: 2px dashed black;
  background: white;
  transition: 0.1s linear;
}

.view-products:hover{
  background: pink;
}

 .content-max{
  padding: 20px 20%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  font-family: "Archivo Narrow", sans-serif;
  max-height: 100vh;
  overflow: scroll;
 }

 .content-max::-webkit-scrollbar{
  display: none;
 }

 .cart-header{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
 }

 .cart-header p{
  font-size: 18px;
 }

 .pay, .remove{
  background-color: white;
  padding: 0px 10px;
  transition: 0.3s linear;
 }

 .pay:hover, .remove:hover{
  background-color: black;
  color: white;
 }

 .cart-content{
  display: flex;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
 }

 .all-products{
  width: 70%;
  overflow-y: scroll;
 }

 .all-products::-webkit-scrollbar {
  display: none;
}

.cart-content::-webkit-scrollbar {
  display: none;
}

 .single-product{
  border-bottom: 1px solid rgb(220, 220, 220);
  height: 120px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 10px 0px;
 }

 .single-product:nth-last-child(2){
  margin-bottom: 30px;
 }

 .img-text{
  display: flex;
  width: 70%;
  gap: 20px;
 }

 .text{
  display: flex;
  flex-direction: column;
  width: 80%;
 }

 .image{
  height: 100%;
 }

 .image img{
  max-height: 100%;
  width: 100px;
  object-fit: cover;
 }

 .bagscrochet{
  letter-spacing: 10px;
  color: rgb(200, 200, 200);
  text-transform: uppercase;
  font-size: 12px;
}

 .name{
  text-transform: uppercase;
  font-weight: 700;
 }

 .price-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 75px;
 }

 .price-button img{
  width: 50%;
  cursor: pointer;
 }

 .logo{
  width: 50%;
 }

 .img-logo{
  height: 100%;
  width: 100%;
  object-fit: contain;
 }



 @media screen and (max-width: 500px){

  .img-no-cart{
    width: 100%;
    margin-bottom: 0px;
  }

  .content-max{
    padding: 50px 10px;
    height: 100vh;
  }

  .cart-content{
    flex-wrap: wrap-reverse;
  }

  .logo{
    height: 0px;
   }

  .all-products{
    width: 100%;
   }



 }
