*{
  margin: 0;
  box-sizing: border-box;
}

.super-content{
  overflow-y: scroll;
}

.super-content::-webkit-scrollbar{
  display: none;
}

.content-max{
  // background-image: url('/assets/logo.png');
  // background-repeat: no-repeat;
  // background-position: center;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Archivo Narrow", sans-serif;
  padding: 0px 200px 100px;
  gap: 100px;
}

.content-max::-webkit-scrollbar{
  display: none;
}

.header{
  display: flex;
  width: 100%;
}

.text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.text h1{
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
}

.bagscrochet{
  text-align: center;
  letter-spacing: 10px;
  color: lightgray;
  text-transform: uppercase;
}

.second-title{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: black;
  padding: 10px 0px;
  color: white;
  font-weight: thin;
  letter-spacing: 1px;
}

.new-gamma{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

.new-gamma-title{
  font-size: 20px;
  text-transform: uppercase;
  color: gray;
  font-weight: 100;
  text-align: center;
  transition: 1s;
  padding-top: 20px;
}

.new-gamma:hover, .double-img:hover{
  .new-gamma-title{
    scale: 1.1;
    color: black;
    font-weight: 800;
  }
    background-color: rgb(255, 230, 234);
}

.all-new-product{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 75%;
}

.single-new-product{
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: 10px;
  width: 25%;
}

.single-new-product img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.2s linear;
  margin-bottom: 10px;
}

.single-new-product::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: black;
  z-index: -1;
}

.single-new-product img:hover{
  opacity: 1;
}

.double-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
  transition: 0.5s;
  cursor: pointer;
}

.cestini{
  width: 60%;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.cestini img{
  width: 50%;
  height: 100%;
  padding: 5px;
  background-color: black;
  object-fit: cover;
}




.super-content{
  overflow: hidden;
}

.all-images{
  overflow-x: hidden;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.single-img img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0px 5px 0px 0px;
}

.single-img{
  animation: 20s slide infinite linear;
  display: flex;
}

.all-images:before,
.all-images:after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.all-images:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.all-images:after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}




// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE
// VISUALIZZAZIONE SMARTPHONE

@media screen and (max-width: 1440px){
  .single-new-product img{
    height: 300px;
  }

  .single-new-product::after{
    height: 300px;
  }
}

@media screen and (max-width: 1024px){
  .content-max{
    padding: 0px 50px 100px;
  }

  .single-new-product img{
    height: 200px;
  }

  .single-new-product::after{
    height: 200px;
  }
}


@media screen and (max-width: 500px) {
  .content-max{
    padding: 0px 10px 100px;
    gap: 50px;
  }

  .all-new-product{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 175px));
    justify-content: space-evenly;
    width: 100%;
  }

  .single-new-product{
    width: 100%;
  }

  .single-new-product img{
    height: 200px;
    margin-bottom: 0px;
  }

  .single-new-product::after{
    height: 200px;
  }

  .cestini{
    height: 275px;
    width: 100%;
    justify-content: center;
  }

  .cestini img{
    width: 50%;
  }

  .single-img img{
    height: 250px;
    border-radius: 10px;
  }

  .all-images:before,
  .all-images:after{
    width: 100px;
  }

}


@media screen and (max-width: 375px) {

  .all-new-product{
    grid-template-columns: repeat(auto-fill, minmax(130px, 140px));
  }

  .single-new-product img{
    height: 175px;
    margin-bottom: 0px;
  }

  .single-new-product::after{
    height: 175px;
  }
}
