*{
  margin: 0;
  box-sizing: border-box;
}

.content-max{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 230, 234);
  padding: 0px 100px;
  font-family: "Archivo Narrow", sans-serif;
}

.first-pan{
  width: 10rem;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: 20px;
  letter-spacing: 1px;
}

.nav p{
  padding: 0px 10px;
  color: black;
  cursor: pointer;
  transition: 0.2s linear;
}

.nav p:hover{
  background-color: rgb(255, 211, 218);;
}


a{
  text-decoration: none;
  text-transform: none;
  color: black;
}

.active{
  text-decoration: underline;
}

.count{
  font-size: 16px;
  width: 25px;
  text-align: center;
  background-color: pink;
  border-radius: 1px dotted black;
  color: black;
  font-weight: 500;
  border-radius: 50%;
}

.icon{
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
}

i{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .content-max{
    width: 100%;
    position: sticky;
    padding: 0px;
    border-bottom: 1px solid black;
  }

  .icon{
    width: 10%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icon a:first-child{
    display: none;
  }

  .icon a:last-child{
    display: none;
  }

  .nav{
    width: 100%;
    height: 50px;
  }

  .first-pan{
    width: 0px;
  }
}
