<div class="content-max sticky-top flex justify-content-between">
  <div class="flex w-10rem"></div>

  <div class="nav">
    <p routerLink="/home" [routerLinkActive]="'active'">Home</p>
    <p routerLink="/products" [routerLinkActive]="'active'">Prodotti</p>
    <div class="flex align-items-center">
      <p routerLink="/cart" [routerLinkActive]="'active'">Carrello</p>
      <div *ngIf="cartService.allCartProducts.length > 0" class="count">{{ numberObjectInCart() }}</div>
    </div>

  </div>

  <div class="icon flex justify-content-center w-10rem gap-5">
    <a><i class="pi pi-phone text-xl" pTooltip="Contattaci" tooltipPosition="left" showDelay="500"></i></a>
    <a pTooltip="Seguici" tooltipPosition="bottom" showDelay="500" target="_blank" href="https://www.instagram.com/bagscrochet2/">
      <i class="pi pi-instagram text-xl"></i></a>
    <a><i class="pi pi-user text-xl" pTooltip="Accedi" tooltipPosition="right" showDelay="500"></i></a>
  </div>
</div>


<!-- <p routerLink="/cart" pTooltip="Carrello" tooltipPosition="bottom" showDelay="500">
  <i class="pi pi-shopping-cart text-3xl" pBadge [value]="cartService.allCartProducts.length"></i>
</p> -->
